.container{
  margin-left: 100px;
  margin-top: 50px;
}

#datetime-picker{
  min-width: 270px;
  height: 40px;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid #808080;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 15px;
}
#datetime-picker:hover{
  border-color: #000000;
}
#datetime-picker:focus{
  border-color: #4E75FF;
}
#datetime-picker:disabled{
  color: #808080;
}

.start-btn{
  margin-left: 8px;
  padding: 8px 16px;
  min-width: 75px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: #4E75FF;
  border: none;
  border-radius: 8px;
}
.start-btn:hover{
  background-color: #6C8CFF;
}
.start-btn:disabled{
  background-color: #CFCFCF;
  color: #989898;
}

.timer{
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.field{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.value{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 24px;
}

.label{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}


/* snackbar */

.form{
  width: 360px;
  margin-left: 150px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.delay-label{
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.delay-input{
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid #808080;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.delay-input:hover{
  border-color: #000000;
}
.delay-input:focus{
  border-color: #4E75FF;
}

fieldset{
  box-sizing: border-box;
  padding-top: 25px;
  margin-bottom: 24px;
  height: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
}
fieldset:hover{
  border-color: #000000;
}
fieldset:active{
  border-color: #000000;
}

.state-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.state-label-1{
  margin-right: 55px;
}

.state-input{
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.submit-btn{
  height: 40px;
  margin-left: 8px;
  padding: 8px 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: #4E75FF;
  border: none;
  border-radius: 8px;
}
.submit-btn:hover{
  background-color: #6C8CFF;
}